{% extends 'base.html.twig' %}


{% block body %}
    <h1>Coucou</h1>
{{ form(form) }}

    <h3>Resultat</h3>
    <table>
        <tr>
            <td>Nom</td>
            <td>Prix HT</td>
            <td>Prix TTC</td>
        </tr>
        {% if result is defined %}
        <tr>
           <td>{{ result.nom }}</td>
           <td>{{ result.ht }}</td>
           <td>{{ result.tva }}</td>
        {% endif %}
        </tr>
    </table>
{% endblock%}